@font-face {
  font-family: "Inter";
  src: url(./static/media/Inter-SemiBold.4260b090.eot);
  src: url(./static/media/Inter-SemiBold.4260b090.eot)
      format("embedded-opentype"),
    url(./static/media/Inter-SemiBold.d5d9d764.woff) format("woff"),
    url(./static/media/Inter-SemiBold.bb1398cc.ttf) format("truetype"),
    url(./static/media/Inter-SemiBold.aac0d603.svg) format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(./static/media/Inter-Regular.07bf7015.eot);
  src: url(./static/media/Inter-Regular.07bf7015.eot)
      format("embedded-opentype"),
    url(./static/media/Inter-Regular.678f9520.woff) format("woff"),
    url(./static/media/Inter-Regular.bed1dd5f.ttf) format("truetype"),
    url(./static/media/Inter-Regular.ccab5002.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
* {
  outline: none !important;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-screen {
  height: 100vh;
  max-width: 100%;
  background-image: url(./static/media/main-bg.c7cf242a.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.start-screen__wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-screen__title {
  font: normal 600 56px/116% "Inter";
  margin-bottom: 64px;
}
.start-screen__content-wrap {
  padding-left: 32px;
}
@media only screen and (max-width: 992px) {
  .start-screen {
    padding: 80px 16px 48px;
  }
  .start-screen__wrap {
    align-content: space-between;
    flex-wrap: wrap;
  }
  .start-screen__img-wrap {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .start-screen__img-wrap img {
    max-width: 80%;
  }
  .start-screen__content-wrap {
    text-align: center;
    padding: 0;
  }
  .start-screen__title {
    font-size: 32px;
  }
  .start-screen__button-wrap {
    display: flex;
    justify-content: center;
  }
}
.game-screen {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
.game-screen__content {
  width: 100%;
  padding: 12.5% 20px 20px 80px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f5f7;
}
.game-screen__question {
  width: 100%;
  margin-bottom: 25px;
}
.game-screen__answers {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-content: center;
}
.game-screen__answers-wrap {
  margin-bottom: 25px;
}
.game-screen__title {
  font: normal 600 32px/116% "Inter";
}
@media only screen and (max-width: 992px) {
  .game-screen {
    position: relative;
  }
  .game-screen__content {
    padding-left: 20px;
  }
  .game-screen__score {
    height: 100%;
    text-align: center;
    position: fixed;
    right: -100%;
    transition: all 0.3s ease;
  }
  .game-screen .active {
    right: 0;
  }
  .game-screen__question {
    text-align: center;
  }
  .game-screen__answers {
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .game-screen__title {
    font-size: 18px;
  }
  .game-screen__content {
    padding-top: 42.5%;
  }
}
@media only screen and (max-width: 376px) {
  .game-screen__score {
    max-width: none;
    width: 100%;
  }
}
@media only screen and (max-width: 376px) {
  .game-screen__answers-wrap {
    height: 56px;
    margin: 0 0 5px;
  }
}
.over-screen {
  height: 100vh;
  max-width: 100%;
  background-color: #f5f5f7;
}
.over-screen__wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.over-screen__score {
  font: normal 600 32px/116% "Inter";
  margin-bottom: 8px;
  color: #1c1c21;
  opacity: 0.5;
}
.over-screen__title {
  font: normal 600 56px/116% "Inter";
  margin-bottom: 64px;
}
.over-screen__content-wrap {
  padding-top: 45px;
  padding-left: 32px;
}
@media only screen and (max-width: 992px) {
  .over-screen {
    padding: 80px 16px 48px;
  }
  .over-screen__wrap {
    align-content: space-between;
    flex-wrap: wrap;
  }
  .over-screen__img-wrap {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .over-screen__img-wrap img {
    max-width: 80%;
  }
  .over-screen__content-wrap {
    text-align: center;
    padding: 0;
  }
  .over-screen__title {
    font-size: 32px;
  }
  .over-screen__button-wrap {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 576px) {
  .start-screen {
    padding-top: 25%;
    padding-bottom: 15%;
  }
  .start-screen__title {
    margin-bottom: 35%;
  }
  .start-screen__img-wrap {
    width: 100%;
    margin-top: 15px;
  }
  .start-screen__img-wrap img {
    width: 96%;
    position: relative;
    left: 5px;
  }
}
.score {
  height: 100%;
}
.score__wrap {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: #fff;
}
.score__wrap-svg {
  margin-bottom: 8px;
}
button {
  margin: 0;
  padding: 0;
}
.main-button {
  max-width: 296px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  font-family: "Inter";
  background-color: #ff8b37;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 576px) {
  .main-button {
    font-size: 14px;
    padding: 16px;
  }
}
.main-button:hover {
  background-color: #ffac70;
}
.main-button:active {
  background-color: #e87928;
}
.reply-button {
  background-color: inherit;
  border: none;
}
.reply-button__wrap {
  cursor: pointer;
  width: 421px;
}
.reply-button__wrap.valid {
  pointer-events: none;
}
.reply-button__wrap.valid .reply-overlay {
  fill: #e6faea;
}
.reply-button__wrap.valid path {
  -webkit-animation: valid-animation 0.5s linear infinite;
  animation: valid-animation 0.5s linear infinite;
}
.reply-button__wrap.invalid {
  pointer-events: none;
}
.reply-button__wrap.invalid .reply-overlay {
  fill: #fdeeed;
}
.reply-button__wrap.invalid path {
  -webkit-animation: invalid-animation 0.5s linear infinite;
  animation: invalid-animation 0.5s linear infinite;
}
.reply-button__wrap path {
  stroke: #d0d0d8;
}
.reply-button__wrap:hover path {
  stroke: #ff8b37;
}
.reply-button__wrap .reply-overlay {
  fill: #fff;
}
.reply-button__wrap .reply-letter,
.reply-button__wrap .reply-text {
  white-space: pre;
  font-family: "Inter";
  font-size: 20;
  letter-spacing: 0;
}
.reply-button__wrap .reply-letter {
  font-weight: 600;
}
@-webkit-keyframes valid-animation {
  0% {
    stroke: #d0d0d8;
  }
  to {
    stroke: #47d867;
  }
}
@keyframes valid-animation {
  0% {
    stroke: #d0d0d8;
  }
  to {
    stroke: #47d867;
  }
}
@-webkit-keyframes invalid-animation {
  0% {
    stroke: #d0d0d8;
  }
  to {
    stroke: #ec6259;
  }
}
@keyframes invalid-animation {
  0% {
    stroke: #d0d0d8;
  }
  to {
    stroke: #ec6259;
  }
}
@media only screen and (max-width: 440px) {
  .reply-button__wrap {
    width: 320px;
  }
}
.rate-score {
  transition: all 0.3s ease;
}
.rate-score__border {
  stroke: #d0d0d8;
}
.rate-score--active .rate-score__border {
  stroke: #ff8b37;
}
.rate-score__text {
  font: normal 20px/116% "Inter";
}
@media only screen and (max-width: 376px) {
  .rate-score {
    width: 100%;
  }
}
.score-visible {
  position: absolute;
  background-color: inherit;
  border: none;
  height: 24px;
  font-size: 24px;
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: none;
  z-index: 10;
  transition: all 0.3s ease;
}
.score-visible:hover {
  color: #ff8b37;
}
@media only screen and (max-width: 992px) {
  .score-visible {
    display: block;
  }
}
/*# sourceMappingURL=main.39d79025.chunk.css.map */
